{%- import "../../../../util/util.jinja" as util with context -%}

import numpy


class GroupOps(object):
    """
    Python GroupOps implementation for {{ cls }}.
    """

    {% for spec in specs['GroupOps'] %}
    {{ util.ops_function(spec) }}
    {% endfor %}
