{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}
{%- import "../../util/util.jinja" as util with context -%}

import math
import typing as T

import numpy

import sym  # pylint: disable=unused-import


class LieGroupOps(object):
    """
    Python LieGroupOps implementation for {{ cls }}.
    """

    {% for spec in specs['LieGroupOps'] %}
    @staticmethod
    {{ util.function_declaration(spec) }}

    {{ util.expr_code(spec) | indent(4) }}

    {% endfor %}
