{# ------------------------------------------------------------------------- #}
{# Function codegen template for Javascript                                  #}
{# ------------------------------------------------------------------------- #}
{%- import "../util/util.jinja" as util with context -%}

{% for typename in ('Rot3', 'Rot2', 'Pose3', 'Pose2') %}
{% if typename in spec.types_included %}
{# #include <sym/{{ python_util.camelcase_to_snakecase(typename) }}.h> #}
{% endif %}
{% endfor %}

{%- for name in spec.inputs.keys() | list + spec.outputs.keys() | list %}
{% if name in spec.typenames_dict %}
{# #include <lcmtypes/{{ spec.namespaces_dict[name] }}/{{ spec.typenames_dict[name] }}.hpp> #}
{% endif %}
{% endfor %}

{% if spec.docstring %}
{{ util.print_docstring(spec.docstring) }}
{% endif %}
{{ util.function_declaration(spec) -}} {
{{ util.expr_code(spec) }}
}
