black==19.10b0
breathe
clang-format
cython
graphviz
ipykernel
Jinja2
matplotlib
mypy==0.910
nbsphinx
numpy
pybind11-stubgen
scipy
sphinx_autodoc_typehints
sphinx_rtd_theme
sympy
types-jinja2
types-pygments
types-setuptools
