{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}
"""
Python runtime geometry package.
"""
{% for cls in all_types | sort(attribute="__name__") %}
from .{{ camelcase_to_snakecase(cls.__name__) }} import {{ cls.__name__ }}
{% endfor %}

epsilon = {{ numeric_epsilon }}
