{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}

  {# Handwritten methods for DoubleSphereCameraCal #}
  // Construct from FocalLength, PrincipalPoint, and distortion coefficients
  explicit DoubleSphereCameraCal(const Eigen::Matrix<Scalar, 2, 1>& focal_length,
                                 const Eigen::Matrix<Scalar, 2, 1>& principal_point,
                                 const Scalar xi, const Scalar alpha)
      : DoubleSphereCameraCal(
            (Eigen::Matrix<Scalar, sym::StorageOps<DoubleSphereCameraCal>::StorageDim(), 1>()
                 << focal_length,
             principal_point, xi, alpha)
                .finished()) {}
