  // --------------------------------------------------------------------------
  // Handwritten methods for SphericalCameraCal
  // --------------------------------------------------------------------------

  // Construct from FocalLength, PrincipalPoint, critical_theta, and distortion coefficients
  explicit SphericalCameraCal(const Eigen::Matrix<Scalar, 2, 1>& focal_length,
                              const Eigen::Matrix<Scalar, 2, 1>& principal_point,
                              const Scalar critical_theta,
                              const Eigen::Matrix<Scalar, 4, 1>& distortion_coeffs)
      : SphericalCameraCal(
            (Eigen::Matrix<Scalar, sym::StorageOps<SphericalCameraCal>::StorageDim(), 1>()
                 << focal_length,
             principal_point, critical_theta, distortion_coeffs)
                .finished()) {}
