{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2025, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}
#include <cooperative_groups.h>
#include <cooperative_groups/details/partitioning.h>
#include <cooperative_groups/memcpy_async.h>
#include <cooperative_groups/reduce.h>
#include <cuda_runtime.h>

#include "kernel_{{kernel.name}}.h"
#include "memops.cuh"

namespace cg = cooperative_groups;

namespace caspar {

__global__ void
__launch_bounds__({{kernel.block_size}}, 1)
{{kernel.name}}_kernel(
    {% for accessor in kernel.accessors %}
    {% for name, typ in accessor.kernel_sig.items() %}
      {{typ}} {{name}},
    {% endfor %}
    {% endfor %}
    size_t problem_size) {
  const int global_thread_idx = blockIdx.x * blockDim.x + threadIdx.x;
  {% if kernel.shared_size_req > 0 %}
  __shared__ uint8_t inout_shared[{{kernel.shared_size_req}}];
  {% endif %}

  {% for accessor in kernel.accessors %}
  {% filter indent(width=4) %}
    {{accessor.prep_lines}}
  {% endfilter %}
  {% if accessor.pre_calc_code() %}
  {{accessor.pre_calc_code()}}
  {% endif %}
  {% endfor %}

  {% if kernel.registers.__len__() > 0 %}
  {{kernel.kernel_t}} {{','.join(kernel.registers)}};
  {% endif %}

  if (global_thread_idx < problem_size){
  {% for code_line in kernel.code_lines %}
  {% filter indent(width=4) %}
    {{code_line}}
  {% endfilter %}
  {% endfor %}
  };
  {% for accessor in kernel.accessors %}
  {% if accessor.post_calc_code() %}
  {{accessor.post_calc_code()}}
  {% endif %}
  {% endfor %}
}


void {{kernel.name}} (
  {% for accessor in kernel.accessors %}
  {% for name, typ in accessor.kernel_sig.items() %}
  {{typ}} {{name}},
  {% endfor %}
  {% endfor %}
  size_t problem_size) {

  {% if kernel.outputs.__len__() == 0 %}
  return;
  {% else %}
  if (problem_size == 0) {
    return;
  }
  {% endif %}

  const int n_blocks = (problem_size + {{kernel.block_size}} - 1) / {{kernel.block_size}};
  {% for accessor in kernel.accessors %}
  {% if accessor.pre_kernel_code() %}
  {{accessor.pre_kernel_code()}}
  {% endif %}
  {% endfor %}
  {{kernel.name}}_kernel<<<n_blocks, {{kernel.block_size}}>>>(
      {% for accessor in kernel.accessors %}
      {% for name in accessor.kernel_sig %}
      {{name}},
      {% endfor %}
      {% endfor %}
      problem_size
  );
}

}  // namespace caspar
