  // --------------------------------------------------------------------------
  // Handwritten methods for Pose2
  // --------------------------------------------------------------------------

  Pose2(const Rot2<Scalar>& rotation, const Vector2& position) {
    data_.template head<2>() = rotation.Data();
    data_.template tail<2>() = position;
  }

  Rot2<Scalar> Rotation() const {
      return Rot2<Scalar>(data_.template head<2>());
  }

  Vector2 Position() const {
      return data_.template tail<2>();
  }

  // TODO(hayk): Could codegen this.
  Vector2 Compose(const Vector2& point) const {
      return Rotation() * point + Position();
  }
