{%- import "../util/util.jinja" as util with context -%}

{%- if spec.doc %}
/**
{% for line in spec.doc.split('\n') %}
 *{{ ' {}'.format(line).rstrip() }}
{% endfor %}
 */
{% endif %}
template <typename {{ util.format_typename(Symbol) }}>
{{ util.format_typename(spec.return_type) }} {{ spec.name }}(
  {%- for arg, type in spec.args -%}
  {{ util.format_input_arg(type, arg) }}{% if not loop.last %}, {% endif %}
  {%- endfor -%}
) {
    {{ util.expr_code(spec) | indent(4) }}

    {% if T_return == Matrix %}
    return res;
    {% elif T_return == Symbol %}
    return res[0];
    {% else %}
    return {{ util.format_typename(spec.return_type) }}(res);
    {% endif %}
}
