{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2025, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}
#include <pybind11/stl.h>

#include "pybind_array_tools.h"
#include "solver.h"

namespace caspar {

inline void add_solver_pybinding(pybind11::module_ module) {
  py::enum_<ExitReason>(module, "ExitReason")
      .value("MAX_ITERATIONS", ExitReason::MAX_ITERATIONS)
      .value("CONVERGED_SCORE_THRESHOLD", ExitReason::CONVERGED_SCORE_THRESHOLD)
      .value("CONVERGED_DIAG_EXIT", ExitReason::CONVERGED_DIAG_EXIT)
      .export_values();

  py::class_<IterationData>(module, "IterationData")
      .def(py::init<>())
      .def_readwrite("solver_iter", &IterationData::solver_iter)
      .def_readwrite("pcg_iter", &IterationData::pcg_iter)
      .def_readwrite("score_current", &IterationData::score_current)
      .def_readwrite("score_best", &IterationData::score_best)
      .def_readwrite("step_quality", &IterationData::step_quality)
      .def_readwrite("diag", &IterationData::diag)
      .def_readwrite("dt_inc", &IterationData::dt_inc)
      .def_readwrite("dt_tot", &IterationData::dt_tot)
      .def_readwrite("step_accepted", &IterationData::step_accepted);

  py::class_<SolveResult>(module, "SolveResult")
      .def(py::init<>())
      .def_readwrite("initial_score", &SolveResult::initial_score)
      .def_readwrite("final_score", &SolveResult::final_score)
      .def_readwrite("iteration_count", &SolveResult::iteration_count)
      .def_readwrite("runtime", &SolveResult::runtime)
      .def_readwrite("exit_reason", &SolveResult::exit_reason)
      .def_readwrite("iterations", &SolveResult::iterations);
  py::class_<{{solver.struct_name}}>(module, "{{solver.struct_name}}",
                                     "Class for solving Factor Graphs.")
      .def(py::init<SolverParams<double>,
           {% for thing in solver.size_contributors %}
             size_t{{ ", " if not loop.last else "" }}
           {% endfor %}>(),
           py::arg("params"),
           py::kw_only(),
           {% for thing in solver.size_contributors %}
             py::arg("{{num_arg_key(thing)}}") = 0{{ ", " if not loop.last else "" }}
           {% endfor %}
       )

      .def("set_params", &{{solver.struct_name}}::set_params)
      .def("solve", &{{ solver.struct_name }}::solve, py::call_guard<py::gil_scoped_release>(),
           py::arg("print_progress") = false, py::arg("verbose_logging") = false)
      .def("finish_indices", &{{solver.struct_name}}::finish_indices)
      .def("get_allocation_size", &{{solver.struct_name}}::get_allocation_size)

      {% for nodetype in solver.node_types %}
        .def("set_{{nodetype.__name__}}_num", &{{solver.struct_name}}::Set{{nodetype.__name__ }}Num)
        .def("set_{{nodetype.__name__}}_nodes_from_stacked_host",
             []({{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset) {
               AssertHostMemory(stacked_data);
               solver.Set{{nodetype.__name__}}NodesFromStackedHost(
                   As{{solver.storage_t.capitalize()}}Ptr(stacked_data),
                   offset,
                   GetNumRows(stacked_data));
             },
             pybind11::arg("stacked_nodes"), pybind11::arg("offset") = 0
        )
        .def("set_{{nodetype.__name__}}_nodes_from_stacked_device",
             []({{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset) {
               AssertDeviceMemory(stacked_data);
               solver.Set{{nodetype.__name__}}NodesFromStackedDevice(
                   As{{solver.storage_t.capitalize()}}Ptr(stacked_data),
                   offset,
                   GetNumRows(stacked_data));
             },
             pybind11::arg("stacked_nodes"), pybind11::arg("offset") = 0
        )
        .def("get_{{nodetype.__name__}}_nodes_to_stacked_host",
             []({{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset) {
               AssertHostMemory(stacked_data);
               solver.Get{{nodetype.__name__}}NodesToStackedHost(
                   As{{solver.storage_t.capitalize()}}Ptr(stacked_data),
                   offset,
                   GetNumRows(stacked_data));
             },
             pybind11::arg("stacked_nodes"), pybind11::arg("offset") = 0
        )
        .def("get_{{nodetype.__name__}}_nodes_to_stacked_device",
             []({{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset) {
               AssertDeviceMemory(stacked_data);
               solver.Get{{nodetype.__name__}}NodesToStackedDevice(
                   As{{solver.storage_t.capitalize()}}Ptr(stacked_data),
                   offset,
                   GetNumRows(stacked_data));
             },
             pybind11::arg("stacked_nodes"), pybind11::arg("offset") = 0
        )

      {% endfor %}
      {% for factor in solver.factors %}
        .def("set_{{factor.name}}_num", &{{solver.struct_name}}::Set{{snake_to_camel(factor.name)}}Num)

        {% for argname, argtype in factor.node_arg_types.items() %}
          {% if factor.isnodeshared[argname] %}
          .def("set_{{factor.name}}_{{argname}}_indices_from_host",
               []({{ solver.struct_name }} &solver, pybind11::object indices) {
                 AssertHostMemory(indices);
                 solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}IndicesFromHost(
                     AsUintPtr(indices),
                     GetNumRows(indices));
               }
          )
          .def("set_{{factor.name}}_{{argname}}_indices_from_device",
               []({{ solver.struct_name }} &solver, pybind11::object indices) {
                 AssertDeviceMemory(indices);
                 solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}IndicesFromDevice(
                     AsUintPtr(indices),
                     GetNumRows(indices));
               }
          )
          {% endif %}
        {% endfor %}
        {% for argname, argtype in factor.const_arg_types.items() %}
          .def("set_{{factor.name}}_{{argname}}_data_from_stacked_device",
               [](
                   {% if factor.isconstseq[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset
                   {% elif factor.isconstuniq[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data
                   {% elif factor.isconstshared[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset
                   {% elif factor.isconstindexed[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset
                   {% endif %}
                   ) {
                 AssertDeviceMemory(stacked_data);
                 solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}DataFromStackedDevice(
                   {% if factor.isconstseq[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data), offset, GetNumRows(stacked_data)
                   {% elif factor.isconstuniq[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data)
                   {% elif factor.isconstshared[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data), offset, GetNumRows(stacked_data)
                   {% elif factor.isconstindexed[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data), offset, GetNumRows(stacked_data)
                   {% endif %}
                 );
               },
               {% if factor.isconstseq[argname] %}
                 pybind11::arg("stacked_data"), pybind11::arg("offset") = 0
               {% elif factor.isconstuniq[argname] %}
                 pybind11::arg("stacked_data")
              {% elif factor.isconstshared[argname] %}
                 pybind11::arg("stacked_data"), pybind11::arg("offset") = 0
              {% elif factor.isconstindexed[argname] %}
                 pybind11::arg("stacked_data"), pybind11::arg("offset") = 0
              {% endif %}
          )
          .def("set_{{factor.name}}_{{argname}}_data_from_stacked_host",
               [](
                   {% if factor.isconstseq[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset
                   {% elif factor.isconstuniq[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data
                   {% elif factor.isconstshared[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset
                   {% elif factor.isconstindexed[argname] %}
                     {{ solver.struct_name }} &solver, pybind11::object stacked_data, size_t offset
                   {% endif %}
                   ) {
                 AssertHostMemory(stacked_data);
                 solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}DataFromStackedHost(
                   {% if factor.isconstseq[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data), offset, GetNumRows(stacked_data)
                   {% elif factor.isconstuniq[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data)
                   {% elif factor.isconstshared[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data), offset, GetNumRows(stacked_data)
                   {% elif factor.isconstindexed[argname] %}
                     As{{solver.storage_t.capitalize()}}Ptr(stacked_data), offset, GetNumRows(stacked_data)
                   {% endif %}
                 );
               },
               {% if factor.isconstseq[argname] %}
                 pybind11::arg("stacked_data"), pybind11::arg("offset") = 0
               {% elif factor.isconstuniq[argname] %}
                 pybind11::arg("stacked_data")
               {% elif factor.isconstshared[argname] %}
                 pybind11::arg("stacked_data"), pybind11::arg("offset") = 0
               {% elif factor.isconstindexed[argname] %}
                 pybind11::arg("stacked_data"), pybind11::arg("offset") = 0
               {% endif %}
          )
        {% if factor.isconstshared[argname] %}
        .def("set_{{factor.name}}_{{argname}}_indices_from_host",
            []({{ solver.struct_name }} &solver, pybind11::object indices) {
              AssertHostMemory(indices);
              solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}IndicesFromHost(AsUintPtr(indices), GetNumRows(indices));
            },
            pybind11::arg("indices")
        )
        .def("set_{{factor.name}}_{{argname}}_indices_from_device",
            []({{ solver.struct_name }} &solver, pybind11::object indices) {
              AssertDeviceMemory(indices);
              solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}IndicesFromDevice(AsUintPtr(indices),GetNumRows(indices));
            },
            pybind11::arg("indices")
        )
        {% elif factor.isconstindexed[argname] %}
        .def("set_{{factor.name}}_{{argname}}_indices_from_host",
            []({{ solver.struct_name }} &solver, pybind11::object indices) {
              AssertHostMemory(indices);
              solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}IndicesFromHost(AsUintPtr(indices), GetNumRows(indices));
            },
            pybind11::arg("indices")
        )
        .def("set_{{factor.name}}_{{argname}}_indices_from_device",
            []({{ solver.struct_name }} &solver, pybind11::object indices) {
              AssertDeviceMemory(indices);
              solver.Set{{snake_to_camel(factor.name)}}{{snake_to_camel(argname)}}IndicesFromDevice(AsUintPtr(indices),GetNumRows(indices));
            },
            pybind11::arg("indices")
        )
        {% endif %}
        {% endfor %}
      {% endfor %}
      ;
}

} // namespace caspar
