{%- import "../util/util.jinja" as util with context -%}
import numpy

{% if spec.generated_types | length != 0 %}
import {{ spec.name }}_types
{% endif %}

{{ util.function_declaration(spec) }}
    {%- if spec.docstring %}
    {{ util.print_docstring(spec.docstring) | indent(4) -}}
    {% endif %}
    {{- util.expr_code(spec) }}
