{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}
from setuptools import setup, find_packages

setup(
    name='{{ package_name }}',
    version='{{ version }}',
    description='{{ description }} (installed by SymForce)',
    long_description='{{ description }} (installed by SymForce)',
    author='Skydio, Inc',
    author_email='hayk@skydio.com',
    license='Apache 2.0',
    packages=find_packages(),
    zip_safe=False,
)
