{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}

{% for include_stmt in spec.third_party_includes %}
{{ include_stmt }}
{% endfor %}

{% for lcmtype_name in spec.lcm_include_type_names %}
from lcmtypes.sym._{{ lcmtype_name }} import {{ lcmtype_name }}
{% endfor %}

{% for sym_type_name in spec.sym_include_type_names %}
from sym import {{ sym_type_name }}
{% endfor %}

# isort: off

{{ spec.cleaned_up_stubgen_output }}
