{%- import "../../../util/util.jinja" as util with context -%}

import numpy
import typing as T

import sym  # pylint: disable=unused-import


class LieGroupOps(object):
    """
    Python LieGroupOps implementatino for {{ cls }}.
    """

    {% for spec in specs['LieGroupOps'] %}
    @staticmethod
    {{ util.function_declaration(spec) }}
    {{ util.expr_code(spec) | indent(4) }}

    {% endfor %}
