ipykernel
# nbconvert depends on this, but doesn't specify the dependency
ipython_genutils
matplotlib
myst-parser
nbsphinx
nbstripout
Sphinx
# sphinx-autodoc-typehints >=1.15 contains a bug causing it to crash parsing our typing.py
sphinx-autodoc-typehints<1.15
sphinx-rtd-theme
breathe
