{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}

#include "./lie_group_ops.h"

// Explicit instantiation
{% for scalar in scalar_types %}
template struct sym::LieGroupOps<{{ scalar }}>;
{% endfor %}
