{%- import "../util/util.jinja" as util with context -%}

def {{ spec.name }}(
  {%- for arg, type in spec.args -%}
  {{ arg }}{% if not loop.last %}, {% endif %}
  {%- endfor -%}):
    {% if spec.doc %}
    """
    {% for line in spec.doc.split('\n') %}
{{ '    {}'.format(line).rstrip() }}
    {% endfor %}
    """
    {% endif %}

    {{ util.expr_code(spec) | indent(4) }}

    {% set return_type = ops.StorageOps.get_type(spec.return_type) %}
    {% if return_type == Matrix %}
    return res
    {% elif return_type == Symbol %}
    return res[0]
    {% else %}
    return {{ return_type.__name__ }}(res)
    {% endif %}
