name: Build wheels

on:
  push:
    branches:
     - 'main'
  workflow_dispatch:

jobs:
  build-extra:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Wheels
      run: |
        pip3 install build
        python3 -m build --sdist --wheel third_party/skymarshal --outdir ./dist
        python3 -m build --sdist --wheel gen/python --outdir ./dist

    - name: Upload Wheels
      uses: actions/upload-artifact@v4
      with:
        name: symforce-wheels-extra
        path: dist/*

  build-macos:
    # This is macos 13 instead of newer, because brew won't pull libgmp for an older macos, so we
    # just support 13 or newer
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        os:
          - runner: macos-13
            arch: x86_64
          - runner: macos-13
            arch: arm64
        python-version: [cp38, cp39, cp310, cp311, cp312]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.22.0
      env:
        CIBW_BUILD: ${{ matrix.python-version }}-*
        CIBW_ARCHS_MACOS: ${{ matrix.os.arch }}
        CIBW_BUILD_FRONTEND: build
        # For arm64; for x86, it's at /usr/local but cmake finds that ok already
        GMP_ROOT: /opt/homebrew
        CIBW_BEFORE_BUILD: brew install gmp
        CIBW_ENVIRONMENT: SYMFORCE_REWRITE_LOCAL_DEPENDENCIES=True MACOSX_DEPLOYMENT_TARGET=13.0

    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: symforce-wheels-${{ matrix.os.arch }}-${{ matrix.python-version }}
        path: wheelhouse/*.whl

  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [cp38, cp39, cp310, cp311, cp312]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.22.0
      env:
        CIBW_BUILD: ${{ matrix.python-version }}-manylinux_x86_64
        CIBW_BUILD_FRONTEND: build
        CIBW_BEFORE_BUILD: yum install -y gmp-devel git
        CIBW_ENVIRONMENT: SYMFORCE_REWRITE_LOCAL_DEPENDENCIES=True

    - name: Upload Wheels
      uses: actions/upload-artifact@v4
      with:
        name: symforce-wheels-${{ matrix.os }}-${{ matrix.python-version }}
        path: wheelhouse/*.whl

  merge-wheel-artifacts:
    runs-on: ubuntu-latest
    needs:
      - build-extra
      - build-macos
      - build-linux
    steps:
      - uses: actions/upload-artifact/merge@v4
        with:
          name: symforce-wheels
          delete-merged: true
